{% extends "base.html" %}
{% load group_tags %}
{% load static %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert 
            {% if message.tags == 'success' %}alert-success
            {% elif message.tags == 'error' %}alert-danger
            {% elif message.tags == 'warning' %}alert-warning
            {% else %}alert-info
            {% endif %}
        ">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
Pleas specify a file and add credencials:
<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file">
        <p></p>
        
        <textarea name="description" placeholder="Add a description" style="width:100%;height: 100px"></textarea>

        <button type="submit">Upload</button>
</form>
{% endblock %}