{% extends "base.html" %}
{% load group_tags %}
{% load static %}

{% block title %}ProfEC landing site{% endblock %}

{% block content %}
<h2>What area would you like to visit?</h2>

{% if user.is_authenticated %}
    <div><a href="/dashboard_auth">Go to member area.</a></div> 
    {% if user|has_any_group:"admin" %}
            <div>
                <a href="/dashboard_admin">Go to admin area.</a> 
            </div>
            {% else %}
            
            {% endif %}
    {% if user|has_any_group:"admin,customer" %}
            <div>
                <a href="/dashboard_customer">Go to customer area.</a> 
            </div>
            {% else %}
            
            {% endif %}
    
    <h2>Your available data:</h2>

    <ul>
        {% for folder_name, folder_path in folders %}
            <li>
                <a href="{% url 'index_folder' folder_name %}">
                    📁 {{ folder_name }}
                </a>

                {% if selected_folder == folder_name %}
                    <ul>
                        {% for file in files %}
                            <li>
                                <a href="{% url 'private_file' folder_name file %}">
                                    📄 {{ file }}
                                </a>
                            </li>
                        {% empty %}
                            <li><em>No files in this folder</em></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    
    {% else %}
    <div>Please identify yourself, stranger!</div>     
    {% endif %}

    

{% endblock %}